<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161890757-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-161890757-2');
        </script>

        <meta charset="UTF-8">
        <title>Bad Professor Code</title>
    </head>
    <body>
        <img src="../static/gatech.png" width=50% alt="Georgia Tech Logo"/>
        <br>
        <a href="/">Back</a>
        <h1>
            {{code}} is not a valid code.
        </h1>
    </body>
</html>