<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161890757-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-161890757-2');
        </script>

        <meta charset="UTF-8">
        <title>Professor Chat</title>
    </head>
    <body>
        <img src="../static/gatech.png" width=50% alt="Georgia Tech Logo"/>
        <h1 style="font-weight: normal;">
           Select your professor below
        <ul>
            <li><a href="/PRAUS">Mark Prausnitz</a></li>
            <li><a href="/BRETT">Blair Brettmann</a></li>
        </ul>
        </h1>
    </body>
</html>